<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csja.smlocked"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名 -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.csja.smlocked" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.csja.smlocked"
        android:protectionLevel="normal" />

    <application
        android:name=".daemon.MyApplication1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SreenBroadCaseReceiver" />

        <!-- <receiver -->
        <!-- android:name=".BootBroadCaseReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:permission="android.permission.RECEIVE_BOOT_COMPLETED"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <category android:name="android.intent.category.HOME" /> -->
        <!-- </intent-filter> -->


        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name=".BootBroadCaseReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- &lt;!&ndash;<intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;<action android:name="android.intent.action.BOOT_COMPLETED" />&ndash;&gt; -->
        <!-- &lt;!&ndash;<category android:name="android.intent.category.HOME" />&ndash;&gt; -->
        <!-- &lt;!&ndash;</intent-filter>&ndash;&gt; -->


        <!-- </receiver> -->

        <receiver
            android:name=".BootBroadCaseReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="RestartSerivcesForSystemEventReceiver" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service android:name=".daemon.Service1" />
        <service android:name=".daemon.Service1$GrayInnerService" />

        <receiver android:name=".daemon.Receiver1" />

        <service
            android:name=".daemon.Service2"
            android:process=":process2" />

        <receiver
            android:name=".daemon.Receiver2"
            android:process=":process2" />

        <activity
            android:name=".StudentInfoActivity"
            android:launchMode="singleTop" />
        <activity android:name=".CodeCaptureActivity" />
        <activity android:name=".StudentModifyActivity" />

        <!-- push -->
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name=".push.example.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />


        <service
            android:name=".daemon.LiveService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".daemon.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名 -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.csja.smlocked.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.csja.smlocked" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="aXQyKHwVPSdYkQXwHDXDb7nB" />

        <activity
            android:name=".PhoneListActivity"
            android:theme="@style/Animation.AppCompat.Dialog" />
        <activity android:name=".ParentBindActivity"></activity>
        <activity android:name=".TestScanActivity" />
        <activity android:name=".LiveActivity" android:launchMode="singleTask"/>
        <service
            android:name=".daemon.IAccessbilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>